@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

body:has(.hamburgers.active) .coverAll-con {
  z-index: 0;
}

body:has(#modal-con) main {
  filter: blur(10px);
}

body::before {
  display: block;
  content: ' ';
  height: 55px;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  gap: 60px;
  margin-right: 70px;
  z-index: 10;
}

.nav-branding {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 7px;
  text-decoration: none;
  color: #6070ff;
}

.nav {
  transition: 0.7s ease;
  z-index: 10;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav:hover {
  color: blue;
}

.hamburgers {
  display: none;
  cursor: pointer;
  z-index: 5;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: blue;
}

.bar.active {
  background-color: #fff;
}

.project-btn {
  margin-top: 30px;
  border: 1px solid #396df2;
  padding: 10px 20px;
  border-radius: 10px 10px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: background-color 1s, transform 1s;
}

.project-btn:hover {
  background-color: blue;
  opacity: 0.5;
}

.project-btn a {
  text-decoration: none;
  color: #396df2;
}

.container {
  margin: 0 27px;
  line-height: 20px;
}

.img-bg {
  background: url(images/header-shapes\ mobile.png) no-repeat;
  background-size: cover;
  height: 100%;
  background-color: #fff;
  border-bottom-left-radius: 85px;
  width: 100%;
}

.bio h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: #091e42;
  padding-top: 90px;
}

.paragraph p {
  font-size: 16px;
  font-weight: 400px;
  margin-top: 22px;
  line-height: 24px;
  color: #344563;
  position: relative;
  animation-name: qualities;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes qualities {
  0% {
    left: -1000px;
  }

  100% {
    left: 0;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 10px 0 60px 0;
}

.lets-connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.social-links li {
  width: 5%;
  color: #505f79;
}

.project-main-wrapper {
  margin: auto 27px;
}

.backend-dev {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.backend-dev li {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
}

.lang {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 4px;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}

.canopy {
  color: #344563;
}

.backend1,
.backend2 {
  color: #7a869a;
}

.access-project {
  margin-top: 10px;
}

.access-project p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.about-me h1 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.skills {
  display: flex;
  width: 100%;
  margin-bottom: 10%;
  justify-content: space-between;
  align-items: center;
}

.skills h2 {
  color: #000;
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skills img {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.containertwo {
  margin-top: 30px;
  background-color: #fff;
  padding-bottom: 20%;
  padding-top: 40px;
}

.social-links2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.contact {
  background-image: url("images/contactbg.png");
  background-color: #6070ff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 114px 24px 8px 24px;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
}

.footer-paragraph p {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 30px 0 20px 0;
}

.contact-div h2 {
  font-weight: 700;
  color: #fff;
  font-size: 40px;
  animation: mover 6s linear infinite;
}

@keyframes mover {
  0% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }

  50% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transform: translateY(30px);
  }

  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.snapshoot-img {
  width: 100%;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 15px 29px 15px 13px;
  border-radius: 8px;
}

textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  height: 150px;
  padding: 15px 29px 15px 13px;
}

.about-list {
  margin: auto 25px;
}

.form-btn {
  width: 140px;
  height: 48px;
  color: #6070ff;
  background: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.form-btn:hover {
  color: #fff;
  background-color: #6070ff;
  transition: 0.5s;
  border: 1px solid #fff;
}

.form-btn:active {
  background-color: #172b4d;
}

.form-btn:disabled {
  background-color: #fff;
}

.contact-hr {
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
  position: relative;
  left: 100px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media screen and (min-width: 50em) {
  body::before {
    display: block;
    content: ' ';
    height: 65px;
  }

  .img-bg {
    background-image: url("images/desktopimage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-project {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto 40px;
  }

  .container-project :nth-child(2) {
    grid-column-end: 0;
  }

  .access-project {
    font-size: 16px;
    width: 496px;
  }

  .nav-branding {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-left: 110px;
    text-decoration: none;
    color: #6070ff;
  }

  .nav-branding:hover {
    color: blue;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .nav {
    transition: 0.7s ease;
  }

  .nav a {
    text-decoration: none;
    color: #6070ff;
  }

  .nav a:hover {
    color: blue;
  }

  .container {
    padding: 0 120px 50px 120px;
    margin: 0;
  }

  .bio {
    padding-top: 100px;
    right: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 2px;
  }

  .about-list {
    width: 100%;
    margin-top: 50px;
  }

  .containertwo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 142px;
    gap: 24px;
  }

  .project-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .project-container {
    background-color: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .social-links2 {
    padding: 0;
  }

  .langList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
  }

  input,
  textarea {
    margin: auto;
    width: 50%;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-div {
    width: 65%;
    margin: auto;
    font-size: 40px;
  }

  .contact-div h2 {
    font-weight: 700;
    animation: mover 6s linear infinite;
  }

  @keyframes mover {
    0% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }

    50% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      transform: translateY(30px);
    }

    100% {
      text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
  }

  input,
  #message {
    border-radius: 0;
  }

  .contact-hr {
    display: none;
  }

  .project-lang {
    width: 50%;
  }
}

.project-review label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #172b4d;
  margin-top: 10px;
  font-size: 40px;
}

.project-container {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .project-container {
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .project-image {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .project-image:hover {
    transform: scale(1.1);
  }

  .modal-image:hover {
    transform: scale(1.1);
  }

  .container-project {
    margin: auto 45px;
  }

  .hamburgers.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburgers.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hamburgers.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }

  .bio {
    width: 70%;
  }

  .hamburgers {
    display: block;
  }

  .hamburgers.active + nav a {
    color: #fff;
  }

  .nav-menu {
    display: flex;
    display: none;
    position: fixed;
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    height: 100%;
    padding-top: 100px;
    left: 0;
    padding-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    z-index: 5;
  }

  .nav {
    margin: 16px 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }

  .nav-menu.active {
    display: block;
    left: 0;
    mix-blend-mode: multiply;
    background: #6070ff;
    opacity: 0.9;
  }

  .modal-container {
    width: 90%;
  }

  .project-review label {
    font-size: 18px;
  }

  .description-con {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .describe {
    width: 100%;
  }

  .block {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    width: 100%;
  }

  .image-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.project-lang {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  margin-top: 20px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-heading {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.modal-list1 {
  width: 55px;
  height: 16px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  color: #344563;
}

.modal-list2,
.modal-list3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #7a869a;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.whole-con {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#modal-con {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 15px;
  height: 95%;
  background-color: white;
  z-index: 20;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  width: 80%;
}

.modal-btn {
  margin-top: 20px;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 5px 10px;
  gap: 10px;
  background: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #6070ff;
}

.modal-btn a {
  text-decoration: none;
  color: #396df2;
}

#remove-btn {
  padding: 10px;
  border: none;
  color: #67798e;
  font-weight: 500;
  font-size: 30px;
  background-color: white;
}

#remove-btn:hover {
  color: red;
  background-color: white;
  cursor: pointer;
}

.modal-dot {
  font-weight: 900;
}

.project-image {
  width: 80%;
  height: 100%;
}

.project-image:hover {
  transform: scale(1.1);
}

.img-con {
  height: 300px;
  display: block;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.modal-image {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-image:hover {
  transform: scale(1.1);
}

.modal-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #172b4d;
  margin-top: 10px;
  font-size: 40px;
  width: 396px;
  height: 46px;
}

/* form validation */

input:valid {
  border: 3px solid green;
}

input:focus:invalid {
  border: 3px solid red;
}

textarea:focus:invalid {
  border: 3px solid red;
}

textarea:focus:valid {
  border: 3px solid green;
}

.error {
  font-size: 17px;
  color: white;
  background-color: red;
  border-radius: 5px;
}
