@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Lexend+Deca:wght@700&family=Poppins:wght@300;400&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Poppins';
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

body:has(.hamburgers.active) .coverAll-con {
  z-index: 0;
}

body:has(#modal-container.active-modal) main {
  filter: blur(10px);
}

body::before {
  display: block;
  content: ' ';
  height: 55px;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  gap: 60px;
  margin-right: 70px;
  z-index: 10;
}

.nav-branding {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 7px;
  text-decoration: none;
  color: #6070ff;
}

.nav {
  transition: 0.7s ease;
  z-index: 10;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.nav:hover {
  color: blue;
}

.hamburgers {
  display: none;
  cursor: pointer;
  z-index: 5;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: blue;
}

.bar.active {
  background-color: #fff;
}

.project-btn {
  margin-top: 30px;
  border: 1px solid #396df2;
  padding: 10px 20px;
  border-radius: 10px 10px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: background-color 1s, transform 1s;
}

.project-btn:hover {
  background-color: blue;
  opacity: 0.5;
}

.project-btn1 {
  margin-top: 30px;
  border: 1px solid #396df2;
  padding: 10px 20px;
  border-radius: 10px 10px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: background-color 1s, transform 1s;
}

.project-btn1:hover {
  background-color: blue;
  opacity: 0.5;
}

.project-btn a {
  text-decoration: none;
  color: #396df2;
}

.project-btn2 {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 10px 20px;
  border-radius: 10px 10px;
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.project-btn2:hover {
  color: #fff;
  background-color: #6070ff;
  transition: 0.5s;
  border: 1px solid #fff;
}

.project-btn2:active {
  background-color: #172b4d;
}

.container {
  margin: 0 27px;
  line-height: 20px;
}

.img-bg {
  background: url(images/header-shapes\ mobile.png) no-repeat;
  background-size: cover;
  height: 100%;
  background-color: #fff;
  border-bottom-left-radius: 85px;
  width: 100%;
}

.bio h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: #091e42;
  padding-top: 90px;
}

.paragraph p {
  font-size: 16px;
  font-weight: 400px;
  margin-top: 22px;
  line-height: 24px;
  color: #344563;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 10px 0 60px 0;
}

.lets-connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.social-links li {
  width: 5%;
  color: #505f79;
}

.project-main-wrapper {
  margin: auto 27px;
}

.project-container1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  margin-top: 60px;
  border-radius: 20px;
}

.project-container2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 60px;
}

.project-container3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 60px;
}

.project-container4 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 60px;
}

.backend-dev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  width: 90%;
}

.backend-dev1 p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
}

.ul {
  display: flex;
  gap: 8px;
  align-items: center;
}

.access-project p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 30px;
}

.languagess {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  padding: 0;
}

.lang1 {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.canopy {
  width: 55px;
  height: 16px;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 16px;
  color: #344563;
}

.backend {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.backend1 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 10px;
}

.backend2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-right: 10px;
}

.access-project {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 76px;
  color: #344563;
}

.programming-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 10px;
}

.programming-lang ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.project-review1 {
  color: #172b4d;
  margin-top: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.project-info1 {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.my-qualities {
  font-size: 16px;
}

.programming-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me h1 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.project-main-wrappertwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.social-media {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.language-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language-title h2 {
  color: #000;
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.list {
  padding: 0;
}

.lang {
  background: #f7f7f9;
  display: flex;
  padding: 12px 9px;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.skills {
  display: flex;
  width: 100%;
  margin-bottom: 10%;
  justify-content: space-between;
  align-items: center;
}

.skills h2 {
  color: #000;
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skills img {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.containertwo {
  margin-top: 30px;
  background-color: #fff;
  padding-bottom: 20%;
  padding-top: 40px;
}

.social-links2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language h2 {
  color: #000;
  list-style-type: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.languages {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  background-color: #f7f7f9;
  border-radius: 20px;
  margin-bottom: 10px;
}

.sub {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 40px;
}

.contact {
  background-image: url("images/contactbg.png");
  background-color: #6070ff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  padding: 114px 24px 8px 24px;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
}

.p-tag {
  color: white;
  text-align: center;
  font-size: 20px;
  transform: scale(1);
  transition: 0.5s;
}

.contact h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebffff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.snapshoot-img {
  width: 100%;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 15px 29px 15px 13px;
  border-radius: 8px;
}

textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  height: 150px;
  padding: 15px 29px 15px 13px;
}

.about-list {
  margin: auto 25px;
}

.form-btn {
  width: 140px;
  height: 48px;
  color: #6070ff;
  background: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.form-btn:hover {
  color: #fff;
  background-color: #6070ff;
  transition: 0.5s;
  border: 1px solid #fff;
}

.form-btn:active {
  background-color: #172b4d;
}

.form-btn:disabled {
  background-color: #fff;
}

.contact-hr {
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
  position: relative;
  left: 100px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media screen and (min-width: 900px) {
  body::before {
    display: block;
    content: ' ';
    height: 65px;
  }

  .img-bg {
    background-image: url("images/desktopimage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav-branding {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-left: 110px;
    text-decoration: none;
    color: #6070ff;
  }

  .nav-branding:hover {
    color: blue;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 70px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .nav {
    transition: 0.7s ease;
  }

  .nav a {
    text-decoration: none;
    color: #6070ff;
  }

  .nav a:hover {
    color: blue;
  }

  .container {
    padding: 0 120px 50px 120px;
    margin: 0;
  }

  .bio {
    padding-top: 100px;
    right: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 2px;
  }

  .project-container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 25px;
  }

  .about-list {
    width: 100%;
    margin-top: 50px;
  }

  .project-container2 {
    padding: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 24px;
    gap: 25px;
  }

  .project-container3 {
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 46px;
  }

  .project-container4 {
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10px;
  }

  .project-main-wrapper1 {
    padding: 10px 142px 100px 142px;
    gap: 142px;
  }

  .containertwo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 142px;
    gap: 24px;
  }

  .project-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .postcollection1 {
    width: 100%;
    padding: 10px;
  }

  .project-review1 {
    margin-top: 0;
    width: 100%;
  }

  .snapshoot-img {
    width: 100%;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }

  .social-links2 {
    padding: 0;
  }

  .langList {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
  }

  .project-review {
    display: flex;
    flex-direction: row;
  }

  .footer-paragraph {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: auto;
    width: 60%;
  }

  .footer-paragraph p {
    margin-bottom: 15px;
  }

  input,
  textarea {
    margin: auto;
    width: 50%;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
  }

  .contact-div {
    width: 65%;
    margin: auto;
  }

  .contact h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-bottom: 12px;
  }

  #text,
  #email,
  #message {
    border-radius: 0;
  }

  .contact-hr {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .project-main-wrapper1 {
    margin: auto 27px;
  }

  .hamburgers.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburgers.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hamburgers.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }

  .bio {
    width: 70%;
  }

  .hamburgers {
    display: block;
  }

  .hamburgers.active + nav a {
    color: #fff;
  }

  .nav-menu {
    display: flex;
    display: none;
    position: fixed;
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    height: 100%;
    padding-top: 100px;
    left: 0;
    padding-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    z-index: 5;
  }

  .nav {
    margin: 16px 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }

  .nav-menu.active {
    display: block;
    left: 0;
    mix-blend-mode: multiply;
    background: #6070ff;
    opacity: 0.9;
  }

  .modal-container {
    width: 90%;
  }

  .description-con {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .describe {
    width: 100%;
  }

  .modal-image {
    width: 50%;
  }
}

.modal-container {
  display: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 20;
  overflow: auto;
  height: 95%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 0 15px 0 15px;
}

.description-con {
  display: flex;
  align-items: flex-start;
  line-height: 25px;
  gap: 30px;
  margin-top: 10px;
  padding: 0 15px 15px 15px;
  margin-bottom: 10px;
}

.describe {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

.source-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.modal-btn {
  margin-top: 20px;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 5px 10px;
  gap: 10px;
  background: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #6070ff;
}

#remove-btn {
  padding: 10px;
  border: none;
  color: #67798e;
  font-weight: 500;
  font-size: 30px;
  background-color: white;
}

#remove-btn:hover {
  color: red;
  background-color: white;
  cursor: pointer;
}

.modal-dot {
  font-weight: 900;
}

.modal-list {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #7a869a;
  border-radius: 10px;
}

.ul-con {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px 0 15px;
}

.img-con {
  height: 300px;
  display: block;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.modal-image {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-image:hover {
  transform: scale(1.1);
}

/* form validation */

input:valid {
  border: 2px solid green;
}
input:focus:invalid {
  border: 3px solid red;
}
textarea:focus:invalid {
  border: 3px solid red;
}

textarea:focus:valid {
  border: 2px solid green;
}

.error {
  font-size: 17px;
  color: white;
  background-color: red;
  border-radius: 5px;
}